<!-- Author: Lasse og Victor -->

<!DOCTYPE html>
<html lang="en">
<head th:replace="websiteLayout :: headContent(title=('Business Indformation'))">
</head>
<body>
<link rel="stylesheet" href="/static/businessTable.css" th:href="@{/businessTable.css}">

<div th:replace="websiteLayout :: sidebar"></div>

<div style="margin-left: 400px">
    <div class="business-table" style="display: inline-block">
        <table class="table table-dark" style="text-align: center;">
            <thead>
            <tr>
                <th scope="col">Alle udlejede biler</th>
                <th scope="col">Total månedlig indkomst for alle lejeaftaler</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${leasestatistic.totalLeases}"></td>
                <td th:text="${leasestatistic.totalPayout + 'kr/md'}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>