<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Skades Rapport</title>
    </head>
    <body>
        <form th:object="${damage}" th:action="${''}" method="post">
            <label>Skade type</label>
            <input th:field="*{damageType}" type="text">

            <label>Skadens pris</label>
            <input th:field="*{price}" type="number">

            <button type="submit">Opret skade</button>
        </form>
    </body>
</html>