<!-- Author: David -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="websiteLayout :: headContent(title=('Skadesrapporter'))">
</head>
<body>
<div th:replace="websiteLayout :: sidebar"></div>

<div style="margin-left: 400px">
    <form th:object="${damage}" th:action="${''}" method="post" style="display: inline-block">>
        <label>Skade type</label>
        <input th:field="*{damageType}" type="text">

        <label>Skadens pris</label>
        <input th:field="*{price}" type="number">

        <button type="submit">Opret skade</button>
    </form>
    <table>
        <thead>
            <th>Skade</th>
            <th>Pris</th>
        </thead>
        <tbody>
            <tr th:each="damage : ${damageReport.damages}">
                <td th:text="${damage.damageType}"></td>
                <td th:text="${damage.price} + .kr"></td>
            </tr>
        </tbody>
    </table>
    <form th:action="@{/resolveDamageReport}" method="post">
        <button type="submit" name="damageReportId" th:value="${damageReport.id}">Skade udbedrede</button>
    </form>
</div>
</body>
</html>