<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Skadesrapporter overskredet advarsels periode</title>

        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <div th:replace="websiteLayout :: sidebar"></div>
        <div style="display: inline-block">
            <table>
                <tr th:each="damageReport : ${damageReports}">
                    <td th:text="${damageReport.carNumber} + ' ' + ${damageReport.warningDate}"></td>
                </tr>
            </table>
        </div>
        <div th:each="damageReport : ${damageReports}" style="padding: 25px; display: inline-block;">
            <div class="card" style="width: 18rem; text-align: center; text-transform: uppercase;">
                <img src="https://cdn-icons-png.flaticon.com/512/197/197717.png" class="card-img-top" style="height: 80%; width: 80%; padding-left: 50px">
                <ul class="list-group list-group-flush">
                    <li th:text="${damageReport.carNumber}" class="list-group-item" style="background: #222222; color: white;">An item</li>
                    <li th:text="${damageReport.warningDate}" class="list-group-item" style="background: #222222; color: darkred; text-decoration: underline;">A second item</li>
                    <li th:text="${damageReport.listSize}" class="list-group-item" style="background: #222222; color: white;">A second item</li>
                    <li class="list-group-item" style="background: #222222;">
                        <button class="btn btn-outline-danger">Gå til Lejeaftale</button>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>