<!-- Author: Lasse -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="websiteLayout :: headContent(title=('Opret Lejeaftale'))">
</head>
<body>
<link th:href="@{/leaseformcss.css}" href="/static/leaseformcss.css" rel="stylesheet">

<div th:replace="websiteLayout :: sidebar">
</div>

<div class="sideTitle">
    <h2 >Opret Lejeaftale</h2>
</div>
<hr>

<div style="margin-left: 300px">
    <div class="contractform" style="display: inline-block;">

        <h3 style="text-align: center">Opret Lejeaftale</h3>

        <br>

        <form th:object="${lease}" method="post" th:action="@{/leaseForm}">
            <label class="form-label mt-10">Kunde Navn</label>
            <input type="text" th:field="*{leaseName}" name="createLeaseName" class="form-control">

            <br>

            <label class="form-label mt-10">Vælg Bil</label>
            <select th:field="*{carNumber}">
                <option th:value="${car.carId}" th:each="car : ${cars}" th:text="${car.carId + ' ' + car.carBrand + ' ' +   car.carModel + ' ' + car.carYear}"></option>
            </select>

            <br>

            <label class="form-label mt-10">Månedlig betaling</label>
            <input type="text" th:field="*{monthlyPay}" name="createMonthyPay" class="form-control">

            <br>

            <label class="form-label mt-10">Varighed/Måned</label>
            <input type="text" th:field="*{amountOfMonths}" name="leaseDuration" class="form-control">

            <br>

            <button type="submit" onclick="clickAlert()" value="submit" class="btn btn-outline-primary mt-3 mb-3">Opret
                Leasing Aftale
            </button>

            <script>
                function clickAlert() {
                    alert("Lejeaftale Oprettet!");
                }
            </script>
        </form>
    </div>
</div>

</body>
</html>