<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ba-Admin Login</title>
    <link rel="stylesheet" href="/static/loginStyling.css" th:href="@{/loginStyling.css}">
</head>
<body>

<form th:object="${user}" action="login" method="post" class="box">

    <h1>login</h1>
    <input th:field="*{username}" type="text" name="" placeholder="Skriv Brugernavn" id="username">
    <input th:field="*{password}" type="password" name="" placeholder="Skriv Kodeord" id="password">

    <input type="submit" name="" value="Login">
</form>

</body>
</html>