<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ba-Admin Login</title>
    <link rel="stylesheet" href="/static/loginStyling.css" th:href="@{/loginStyling.css}">
</head>
<body>

<!-- af lasse -->

<form action="login.html" method="post" class="box">

    <h1>login</h1>
    <input type="text" name="" placeholder="Skriv Brugernavn" id="username">
    <input type="password" name="" placeholder="Skriv Kodeord" id="password">
    <input type="submit" name="" value="Login">
</form>

</body>
</html>