<!-- Author: Victor -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="websiteLayout :: headContent">
</head>
<body>

<div th:replace="websiteLayout :: sidebar">
</div>

<div style="margin-left: 300px">
    <div class="contractform" style="display: inline-block;">
        <form th:object="${lease}" method="post" th:action="@{/searchDate}">
            <label class="form-label mt-10">Indtast dato i format yyyy-mm-d</label>
            <input type="text" th:field="*{stringDate}" name="createStringDate" class="form-control">
            <button type="submit" value="submit" class="btn btn-outline-primary mt-3 mb-3">Søg</button>
        </form>
    </div>
</div>

</body>
</html>