<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="websiteLayout :: headContent">
</head>
<body>
<link rel="stylesheet" href="/static/warehouse.css" th:href="@{/warehouse.css}">

<div th:replace="websiteLayout :: sidebar">
</div>

<div style="margin-left: 300px;">
    <div th:each="car : ${allCars}" style="padding: 25px; display: inline-block;">
        <div class="card" style="width: 18rem; text-align: center; text-transform: uppercase;">
            <img src="https://static.vecteezy.com/system/resources/previews/001/193/767/original/compact-car-png.png" class="card-img-top"
                 style="height: 80%; width: 80%; padding-left: 50px">
            <ul class="list-group list-group-flush">
                <li th:text="${car.carId}" class="list-group-item" style="background: #222222; color: white;">An item
                </li>
                <li th:text="${car.chassisNumber}" class="list-group-item" style="background: #222222; color: white;">A
                    second item
                </li>
                <li th:text="${car.carState}" class="list-group-item"
                    style="background: #222222; color: white; text-decoration: underline;">A third item
                </li>
                <li class="list-group-item" style="background: #222222;">
                    <button class="btn btn-outline-primary">Se Detaljer</button>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>