<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>websiteLayout</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>

<!-- Sidebar taken from Bootstrap and fitted to our needs -->
<div th:fragment="sidebar" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; min-height: 100vh; float: left">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">Sidebar</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="/" class="nav-link" th:classappend="${currentSite} == 'dashBoard' ? active : text-white" aria-current="page">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
        Dashboard
      </a>
    </li>
    <li th:if="${userRole} == 'dataRegistration'">
      <a href="/leaseForm" class="nav-link" th:classappend="${currentSite} == 'carForm' ? active : text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
        Opret bil
      </a>
    </li>
    <li th:if="${userRole} == 'dataRegistration'">
      <a href="/leaseForm" class="nav-link" th:classappend="${currentSite} == 'leaseForm' ? active : text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
        Opret lejeaftale
      </a>
    </li>
    <li th:if="${userRole} == 'dataRegistration'">
      <a href="/oldLease" class="nav-link" th:classappend="${currentSite} == 'oldLease' ? active : text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Overskredet lejeaftaler
      </a>
    </li>
    <li th:if="${userRole} == 'businessEnginering'">
      <a href="/businessStats" class="nav-link" th:classappend="${currentSite} == 'businessStats' ? active : text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
        Se udlejede biler
      </a>
    </li>
    <li th:if="${userRole} == 'businessEnginering'">
      <a href="/searchDate" class="nav-link" th:classappend="${currentSite} == 'searchDate' ? active : text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
        Søg efter lejeaftaler ud fra dato
      </a>
    </li>
    <li th:if="${userRole} == 'damageReport'">
      <a href="/createDamageReport" class="nav-link" th:classappend="${currentSite} == 'createDamageReport' ? active : text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
        Opret skades rapport
      </a>
    </li>
    <li th:if="${userRole} == 'damageReport'">
      <a href="/allDamageReports" class="nav-link" th:classappend="${currentSite} == 'allDamageReports' ? active : text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Se alle skades rapporter
      </a>
    </li>
    <li th:if="${userRole} == 'damageReport'">
      <a href="/damageReportsPastWarningDate" class="nav-link" th:classappend="${currentSite} == 'damageReportPastWarningDate' ? active : text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Se overskredet skades rapporter
      </a>
    </li>
  </ul>
  <hr>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong th:text="${username}"></strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item" th:href="@{/logout}">Log ud</a></li>
    </ul>
  </div>
</div>

<div>
  menu
</div>
</body>
</html>